/* Layout */

body {
    padding-top: 30px;
    font: 16px Roboto;
    line-height: 1.5em;
    font-weight: 300;
}

.header {
    .logo { padding-left: 0; }
}

.footer { 
    background: #0E2050;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 1px;
    min-height: 350px;
    color: #ffffff;
    
    .row { margin-bottom: 30px; }
    
    h2 { color: #ffffff; font-size: 16px; margin: 0 0 20px; }
    
    a { color: #6fc8ff; }
    
    p, li {
	font: 15px Roboto;
	line-height: 20px;
    }
    
    p.copyright {
	color: #a0a0a0;
	font-size: 12px;
    }
}

/* Typography */

h1 {
    font-family: 'Lato';
    font-size: 1.7em;
    text-transform: uppercase;
    color: #0e6FAB;
    letter-spacing: 5px;
    font-weight: bold;
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

h2 { 
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 1.4em;
    color: #0e2050;
    letter-spacing: 0.15em;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 30px;
}

h4 {
    font: 1.3em 'Lato';
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

a { color: #0e6FAB; }

ul { list-style: none; margin: 0; padding: 0; }

p + h4 { margin-top: 15px; }

/* Menu */

ul.top-menu {
    margin-top: 90px;
    display: flex; 
    
    li { 
	flex: 1 0 auto;
	position: relative;
	padding-bottom: 16px;
	
	a { 
	    color: #0e2050; 
	    font: 16px Lato;
	}
	
	ul { 
	    display: none; 
	    position: absolute;
	    margin-left: -20px;
	    min-width: 200px;
	    z-index: 10;
	    margin-top: 12px;
	    background: #eeeeee;
	    padding: 10px 0 20px;
		       
	    li { 
		padding: 8px 20px; 
		white-space: nowrap;
	     
	    }
	}
    }
    
    li:hover ul { display: block; }
    li.home {
	flex: 1 0 1%;
	svg { width: 18px; vertical-align: baseline; }
	.icon { fill: #0e2050; width: 18px;}
    }
}


/* Page components */

.page-header {
    margin-bottom: 30px;
    float: left;
    width: calc(100% - 25px);
    overflow: hidden;
    border-left: 5px solid #0e6FAB;
    padding: 20px 20px 20px 30px;
    background-color: #fafafa;
    padding-right: 0px;
    border-top: solid 1px #eeeeee;
    
    
    ul.breadcrumbs { margin: 0; padding: 0 0 20px; }
    ul.breadcrumbs li { list-style-type: none; display: inline-block; margin-left: 0px; margin-right: 0px; }

    .page-header-inner-left { 
	width: calc(100% - 60px);
	float: left;
    }

    .page-header-inner-right {
	float: left;
	height: auto;
	width: 30px;
	display: flex;
	align-items: center;

	ul.social-links {
	    width: 30px;
	    float: left;
	    height: 100px;
	    
	    li { margin-bottom: 4px; }
	    li svg { width: 30px; height: 30px; }
	    .icon { fill: #0e6FAB !important; -webkit-transition: fill 0.5s ease; }
	    a:hover .icon { fill: #0e2050 !important; }
	}
    }

}

.info-left {
    background-color: #fafafa;
    padding: 30px 15px 30px 30px;
    border-left: 5px solid #0e6FAB;
    align-self: flex-start;
    
    b { font-weight: 600; }

    .icon { fill: #0e6FAB !important; }
    ul li svg { width: 40px; height: 40px; float: left; }
    ul li > span { 
	margin-left: 15px;
	min-height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	word-wrap: break-word;
	width: calc(100% - 70px);
    }
}

.view-external-resource {
    background: #0e6FAB;
    padding: 15px 25px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 600;
    flex: 1 0 100%;
    
    a { color: #ffffff; }
}


.card.related-thing {
    .card-img-top { border-radius: 0; }
    a { text-decoration: none; }
    .card-body { background: #0E6FAB; color: #ffffff; }
}

/* Body text */

.text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    p { color: #282828; font-size: 1em; font-weight: 300; line-height: 1.5em; }

    .image { flex: 1 0 100%; margin-bottom: 30px; }
    .image img { width: 100%; }
}

.spotlight {
    background: #333333;
    padding-bottom: 20px;
    
    h2 { color: #ffffff; margin-top: 30px; margin-bottom: 50px; }
    .card { border: none; }
}


/* Carousel */

.thing-carousel { 
    margin-left: -8px; 
    margin-right: -8px;
    position: relative;
    
    .slick-arrow { 
	background: #0e2050; 
	border: 10px solid #ffffff; 
	border-radius: 30px; 
	width: 60px; 
	height: 60px; 
	overflow: hidden; 
	position: absolute; 
	z-index: 10; 
	left: -20px; 
	top: 120px;
	outline: none;
	padding: 0 15px 0 10px; 
    }
    
    .slick-next { left: auto; right: -25px; padding: 0 10px 0 15px;  }
    
    .slick-prev img { width: 100%; }
    .card { margin-left: 8px; margin-right: 8px; }
}



/*
html {
  font-size: 13pt;
}

.sidenav {
  background-color: #e3f2fd
}

.header {
  margin-bottom: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}

.related ul {
  padding: 0;
}

.abstract {
  display: flex;
  flex-direction: column;
}

.title {
  h2 {
    font-size: 1em;
  }
  .authors {
    font-weight: bold;
  }
  .location {

  }
}

.strapline {
  color: white;
  font-size: 1.1rem;
}

.content-type {
  display: inline;
  color: #28a745!important;
  padding-right: 5px;
}

.citation {
  font-style: italic;
}

.citation, .view-external-resource, .authors {
  font-size: 0.7rem;
  margin-bottom: 0;
}

#related-tab-content {
  padding-top: 20px;
}
.related {
  padding-top: 20px;
}

.related-thing-container {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: solid #e3f2fd 1px;
}

.related-thing {
  .publication-date {
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .resource-type {
    margin: 0;
    font-size: 0.7em;
  }
}

.resource-type {
  margin-bottom: 10px;
  font-size: 0.7em;
}

.nav ul {
  list-style: none;
}
*/
