/* Colours */

$green: #488014;
$orange: #B35900; //#77216f; //
$blue: #0e6fab;
$red: #dd1010;


/* Layout */

body {
    font: 16px Roboto;
    line-height: 1.5em;
    font-weight: 300;
}

.header {
    margin-top: 20px; 
    .logo { padding-left: 0; white-space: nowrap; flex: 0 0 240px; max-width: 240px; }
    .col-9 { max-width: 100%; flex: 1 0 75%; }
}

.ebm-logo {
    width: 110px;
    height: 110px;
    background: #0E2050;
    padding: 0;
    float: left;
    margin-right: 10px; 
    text-align: right;
    
    img { margin-bottom: 5px; }
    h1 { color: #ffffff !important; text-transform: none; letter-spacing: 0; font: 19px Roboto; line-height: 20px; width: 100%; display: block; margin: 13px 0 0; text-align: left; font-weight: 400;  }
}

.oxford-logo {
    width: 110px;
    height: 110px;
}

.mobile-logo { display: none; }

.footer { 
    background: #0E2050;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 1px;
    min-height: 350px;
    color: #ffffff;
    
    .row { margin-bottom: 30px; }
    
    h2 { color: #ffffff; font-size: 16px; margin: 0 0 20px; }
    
    a { color: #6fc8ff; }
    
    p, li {
        font: 15px Roboto;
        line-height: 20px;
    }
    
    p.copyright {
        color: #a0a0a0;
        font-size: 12px;
    }
    
    .logos { 
        
        img { margin: 0 20px 20px 0; }
    }
}

/* Typography */

h1 {
    font-family: 'Lato';
    font-size: 1.7em;
    color: #0e6FAB;
    letter-spacing: 0.01em;
    /*text-transform: uppercase;
    letter-spacing: 5px;*/
    font-weight: bold;
    width: 100%;
    margin-bottom: 40px;
}

h2 { 
    font-family: 'Lato';
    font-size: 1.4em;
    color: #0e2050;
    letter-spacing: 0.05em;
    /*text-transform: uppercase;
    letter-spacing: 0.15em;*/
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 30px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 1.35em;
    margin: 0 0 25px;
}

h4 {
    font: 1.3em 'Lato';
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

a { color: #0e6FAB; }

ul { list-style: none; margin: 0 0 25px; padding: 0; }

p { margin: 0 0 25px; }

p + h3, blockquote + h3 { margin-top: 40px; }
p + h4 { margin-top: 15px; }

/* Menu */

ul.menu {
    display: flex; 
    
    
    li { 
        flex: 0 1 auto;
        padding-right: 40px;
        position: relative;
        padding-bottom: 12px;
        
        a { 
            color: #0e2050; 
            font: 16px Lato;
        }
        
        > span { font-size: 13px; padding-left: 0px; }
        
        ul { 
            display: none; 
            position: absolute;
            margin-left: -20px;
            min-width: 200px;
            z-index: 10;
            margin-top: 6px;
            background: #f3f3f3;
            padding: 10px 0 20px;
                   
            li { 
                padding: 8px 20px; 
                white-space: nowrap;
             
            }
        }
    }
    
    li:hover ul { display: block; }
    li.home {
        svg { width: 18px; vertical-align: baseline; }
        .icon { fill: #0e2050; width: 18px;}
        
    }
}

ul.top-menu {
    margin: 50px 0 0;
}

ul.secondary-menu {
    li { padding-right: 30px; }
    
    li a {
        color: #0e6fab;
        padding: 3px 0px;
    }
}

/* Search */

.header .search { float: right; padding: 3px 6px 1px; border: 1px solid #ccc; border-radius: 3px; margin-top: 20px; margin-right: -15px; font-size: 15px;  max-width: 170px; }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Page components */

.hero {
    width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    
    h2 { margin: 0; background: #0E2050; color: #ffffff; padding: 10px 20px; display: inline-block; }
}

.page-header {
    margin-bottom: 30px;
    float: left;
    width: calc(100% - 25px);
    position: relative;
    overflow: hidden;
    border-left: 5px solid #0e6FAB;
    padding: 20px 20px 20px 30px;
    background-color: #fafafa;
    padding-right: 0px;
    border-top: solid 1px #f3f3f3;
    
    ul.breadcrumbs { margin: 0; padding: 0 0 20px; }
    ul.breadcrumbs li { list-style-type: none; display: inline-block; margin-left: 0px; margin-right: 0px; }

    &.page-header-large {
        h1 { font-size: 3em; margin: 0px 0 10px; }
    }

    h2 {
        font-size: 1.7em;
        margin: 0 0 20px;
    }

    h4 { 
        text-transform: none; 
        letter-spacing: 0; 
    }
    
    h2 { color: #0e6FAB; }
    h1 + h4 { margin-top: -30px; margin-bottom: 5px; }

    .page-header-inner-left { 
        width: calc(100% - 60px);
        float: left;
    }

    .page-header-inner-right {
        float: left;
        height: 100%;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        ul.social-links {
            display: flex;
            height: 70px;
            
            li { margin-left: 4px; }
            li svg { width: 30px; height: 30px; }
            .icon { fill: #0e6FAB !important; -webkit-transition: fill 0.5s ease; }
            a:hover .icon { fill: #0e2050 !important; }
        }
        
        .email { font-weight: 400; text-align: right; }
    }
}

.info-left {
    background-color: #fafafa;
    padding: 30px 15px 30px 30px;
    border-left: 5px solid #0e6FAB;
    align-self: flex-start;
    
    b { font-weight: 600; }

    .icon { fill: #0e6FAB !important; }
    ul li svg { width: 40px; height: 40px; float: left; }
    ul li > span { 
    margin-left: 15px;
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;
    width: calc(100% - 70px);
    }
}

.view-external-resource {
    background: #0e6FAB;
    padding: 15px 25px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 600;
    flex: 1 0 100%;
    
    a { color: #ffffff; }
}

.project-intro {
    background: #f3f3f3;
    padding: 30px 20px;
    margin-bottom: 30px; 
    
    .image { 
        height: 250px; 
        background-size: cover;
        position: relative; 
        
        &:before { content: ""; position: absolute; left: 0; width: 100%; height: 100%; box-shadow: 0 0 120px rgba(0, 0, 0, 0.2) inset; }
        .caption { position: absolute; background: #ffffff; z-index: 2; bottom: 10px; right: 10px; padding: 10px; max-width: calc(100% - 20px); font-size: 20px; font-weight: 400; box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); }
    }
    
    .text { 
        padding: 20px 40px 0;
        margin: 0;
        
        p { font-size: 17px;  font-weight: 400; }
    }
    
    
}

.card.related-thing {
    border: none; 
    
    
    .card-img-top { border-radius: 0; }
    a { text-decoration: none; display: flex; flex-direction: column; }
    h5.card-title { font-size: 18px; line-height: 25px; font-weight: 400; }
    .card-body { background: #f3f3f3; color: #282828; border-bottom: 5px solid #0e6FAB; flex: 1 0 auto; }
    
    a:nth-child(2n) { flex: 1 0 auto; }
}

.team-member {
    border-left: #0e6fab 5px solid;
    margin-bottom: 50px;
    
    .name { font: 21px 'Lato';  font-weight: 500; color: #0e6FAB; margin: 0 0 20px; }
    .position { font-weight: 600; margin: 0 0 20px; color: #282828; }
}

.attachments { margin-top: 50px; }

.attachment {
    margin-bottom: 20px;
    
    .icon {
        a { border: 5px solid #f3f3f3; text-decoration: none; }
        a span { display: block; font-size: 50px; min-height: 140px; color: #eeeeee; padding: 10px 0; text-align: center; }
        img { width: 100%; box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1); }
    }
    a { display: block; font: 1.6em Lato; text-decoration: underline; margin-bottom: 10px; }
    p { font-size: 14px; }
}

/*.blog-preview-list { padding-left: 0; }
.blog-preview-list > .row { margin-left: 0; }*/


.blog-preview-list > .blog-preview:last-child:after { display: none; }

.blog-preview {
    margin-bottom: 30px;
    h2 { text-transform: none; letter-spacing: 0; font-weight: 500; margin: 0 0 20px; }
    p.author { text-transform: uppercase; letter-spacing: 0.11em; color: #666; font: 15px Lato; }
    
    p img { width: 100%; max-width: max-content; }

    &:after { content: ""; display: block; border-bottom: 1px solid #ccc; width: calc(100% - 30px); margin-left: 15px; padding-top: 20px; }  
}

ul.links {
    li { margin-bottom: 15px; }
    svg { width: 40px; margin-right: 10px; }
    .icon { fill: #0e6FAB; }
}

.person-info-left { 
    margin-bottom: 15px; 
    
    .person-image { margin: 0 0 30px 50px; display: block; }
}

.series-bar { 
    background: #0E6FAB;
    color: #ffffff;
    margin: -10px 0 20px;
    padding: 20px;
    font-size: 20px;
}

/* Body text */

.text {
/*
    display: flex;
    flex-wrap: wrap;
*/
    margin-bottom: 30px;

    p { color: #282828; font-size: 1em; font-weight: 300; line-height: 1.5em; }

    .image { flex: 1 0 100%; margin-bottom: 30px; }
    .image img { width: 100%; }
}

.spotlight {
    padding: 5px 5px 1px;
    display: flex;
    margin-bottom: 30px;
    
    div { display: flex; flex-direction: column; flex: 1 0 auto; }
    
    h2 { margin-top: 20px; margin-bottom: 25px; }
    .card { border: none; margin-bottom: 25px; }

    &.caption-overlays {
        div { display: block; }
        .card.related-thing a:nth-child(2n) { position: absolute; bottom: 10px; left: 10px; max-width: calc(100% - 20px); }
        .card-img-top { height: 250px; }
        .card-body { padding: 10px 10px; }
        .card-title { margin: 0; }
        .publication-date { display: none; }
    }

    &.light {
        background: #f3f3f3;
        .card-body { background: #ffffff; }
    }

    &.dark { 
        background: #333333; 
        h2 { color: #ffffff; }
    }
    
}



/* Colourise things */

$colours: ("green": $green, "orange": $orange, "blue": $blue, "red": $red);

@each $name, $colour in $colours {
    body.theme-#{$name} {
        .page-header,
        .info-left { border-left-color: $colour; }
        h1, .page-header h2 { color: $colour; }
        .page-header a,
        .main-content a,
        .project-intro a,
        .text a,
        .info-left a { color: $colour; }
        .info-left .icon,
        .page-header .page-header-inner-right ul.social-links .icon { fill: $colour !important; }
        .card.related-thing .card-body { border-color: $colour; }
    }
    .card.related-thing.theme-#{$name} .card-body { border-color: $colour; }
    ul.menu li.colour-#{$name} {  }
    ul.menu li.colour-#{$name} a { color: $colour; }
    ul.menu li.colour-#{$name} > ul { border-left: 5px solid $colour; }
}




/* Carousel */

.thing-carousel { 
    margin-left: -8px; 
    margin-right: -8px;
    position: relative;
    
    .slick-slide {
        height: auto;
    }
    
    .slick-track {
        display: flex;
        align-items: stretch;
        margin-left: 0; 
    }
    
    .slick-arrow { 
        background: #0e2050; 
        border: 10px solid #ffffff; 
        border-radius: 30px; 
        width: 60px; 
        height: 60px; 
        overflow: hidden; 
        position: absolute; 
        z-index: 10; 
        left: -20px; 
        top: 120px;
        outline: none;
        padding: 0 15px 0 10px; 
    }
    
    .slick-next { left: auto; right: -25px; padding: 0 10px 0 15px;  }
    
    .slick-prev img { width: 100%; }
    .card { margin-left: 8px; margin-right: 8px; display: flex; }
}

section.related {
    .view-all {
        text-align: right;
        padding: 20px 0;
        font-size: 18px;
    }
}



/* Animated mobile menu button */

.menu-line {
	height: 3px;
	background-color: #FFFFFF;
	width: 25px;
	margin-right: 10px;
	margin-left: 0px;
	position: absolute;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}
#menu-button {
    z-index: 1; 
	height: 30px;
	width: 30px;
	position: relative;
	float: left;
	cursor: pointer;
	margin: 12px 15px;
}
#menu-line-1 {
	top: 5px;
}
#menu-line-2a, #menu-line-2b {
	top: 12px;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-ms-transition: -ms-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}
#menu-line-3 {
	top: 19px;
}
.disappear {
	opacity: 0;
}
.rotate45 {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.rotateminus45 {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}


/*
html {
  font-size: 13pt;
}

.sidenav {
  background-color: #e3f2fd
}

.header {
  margin-bottom: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}

.related ul {
  padding: 0;
}

.abstract {
  display: flex;
  flex-direction: column;
}

.title {
  h2 {
    font-size: 1em;
  }
  .authors {
    font-weight: bold;
  }
  .location {

  }
}

.strapline {
  color: white;
  font-size: 1.1rem;
}

.content-type {
  display: inline;
  color: #28a745!important;
  padding-right: 5px;
}

.citation {
  font-style: italic;
}

.citation, .view-external-resource, .authors {
  font-size: 0.7rem;
  margin-bottom: 0;
}

#related-tab-content {
  padding-top: 20px;
}
.related {
  padding-top: 20px;
}

.related-thing-container {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: solid #e3f2fd 1px;
}

.related-thing {
  .publication-date {
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .resource-type {
    margin: 0;
    font-size: 0.7em;
  }
}

.resource-type {
  margin-bottom: 10px;
  font-size: 0.7em;
}

.nav ul {
  list-style: none;
}
*/




@import 'responsive';

.footer__nuffield {
    background-color: white;
    max-width: 240px;
    padding: 1rem;
    width: 100%;
}
