@media screen and (min-width: 720px) {
    .mobile-menu { display: none; }
}

@media screen and (max-width: 719px) {
    
    .header {
        margin-top: 0px; 
        max-height: 50px;
        overflow: hidden;
    }
    
    body.menu-open .header { max-height: none; }
    
    .header > .row { 
        position: static;
        flex-direction: column;
    }
    
    .header > .row > .logo {
        padding: 60px 20px 20px;
    }
    
    ul.top-menu li.home .icon { display: none }
    ul.top-menu li.home a:before { content: "Home"; display: inline; }
        
    .header > .row > .col-3, .header > .row > .col-9 {
        background: #0E2050;
        max-width: 100%;
    }
    
    .mobile-menu { position: absolute; width: 50px; height: 50px; }
    
    ul.top-menu {
        margin: 0; 
        left: 0px;
        top: 0px;
        padding: 20px 20px 50px;
        width: 100%;
        background: #0E2050;
        flex-direction: column;
        z-index: 10;
        
        li a { color: #ffffff; }
        li span { display: none; }
        
        > li.has-children { background: url('../images/arrow-down.svg') 100% 6px no-repeat; }
        
        li ul {
            position: static;
            background: #0E2050;
            margin-left: 0;
            padding-left: 0;
        }
    }
    
}
