{% load compress thedatalab_menu %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300|Lato:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="/static/scss/main.scss" />
    {% endcompress %}

    <title>TheDataLab</title>
  </head>

  <body>
    {% comment %}{% include "topnav.html" %}{% endcomment %}
    <div class="container header">
        <div class="row">
            <div class="mobile-menu">
                <div id="menu-button" class="menu-closed">
                    <div class="menu-line" id="menu-line-1"></div>
                    <div class="menu-line" id="menu-line-2a"></div>
                    <div class="menu-line" id="menu-line-2b"></div>
                    <div class="menu-line" id="menu-line-3"></div>
                </div>
            </div>
            <div class="col-3 logo">
		<div class="ebm-logo">
		    <img src="/static/images/ebm-logo.png" width="59" />
		    <h1>EBM DataLab</h1>
		</div>
                <img src="/static/images/logo-oxford-blue.svg" width="110" />
            </div>
            <div class="col-9">
                {% render_menu %}
            </div>
        </div>
    </div>
    
    
    <div class="container">
          {% block main %}
          
          {% endblock %}
	    <div class="col col-sm-auto">
	      {% include "sidenav.html" %}
	    </div>
        </div>
  
        <div class="footer">
            <div class="container">
                <div class="row">
		    <div class="col-sm-4">
			<h2>EBM DataLab</h2>
			<p>Centre for Evidence-Based Medicine<br />
			Nuffield Department of Primary Care Health&nbsp;Sciences<br />
			University of Oxford<br />
			New Radcliffe House<br />
			Woodstock Road<br />
			Oxford OX2 6GG</p>
		    </div>
		    <div class="col-sm-4">
			<h2>Follow us</h2>
			<p>social links</p>
		    </div>
		    <div class="col-sm-4">
			<h2>Information</h2>
			<ul>
			    <li><a href="">Funding</a></li>
			</ul>
		    </div>
		</div>
		<div class="row">
		    <div class="col-sm-12">
			<p class="copyright">© University of Oxford for the EBM DataLab {% now "Y" %}. This work may be copied freely for non-commercial research and study. If you wish to do any of the other acts restricted by the copyright you should apply in writing to ...</p>
		    </div>
		</div>
	    </div>
	</div>
      
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script type="text/javascript" src="/static/js/site.js"></script>
  </body>
</html>
