{% extends 'page.html' %}
{% load imagefit %}
{% load thedatalab_extras %}

{% block main %}
  {{ block.super }}

    <div class="row">
        <div class="col-9 blog-preview-list">
            {% for post in blog_posts %}
            <div class="row blog-preview">
                <h2 class="col-12"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <div class="col-sm-auto"><img src="{{ post.image.name|resize:'270x160c'}}"></div>
                <div class="col">
                    <p class="author">{{ post.published_at|date:"j F Y" }} {% with authors=post.get_authors %}{% if authors %} &nbsp;|&nbsp; {{ authors }}{% endif %}{% endwith %}</p>
                    {{ post.get_preview|show_markdown|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

</div>
{% endblock %}
