{% extends 'page.html' %}
{% load thedatalab_extras thedatalab_menu %}

{% block main %}
	<div class="row">
		<div class="mobile-logo">
			<div class="ebm-logo">
				<a href="/">
				<img src="/static/images/ebm-logo-blue.png" alt="DataLab" width="100%">
				</a>
			</div>
			<div class="oxford-logo">
            	<img src="/static/images/logo-oxford-blue.svg" width="100%" alt="University of Oxford">
			</div>
		</div>
		<div class="hero" style="background-image: url('/static/images/oxford.jpg');">
			<h2>Practical Data Science, For Medicine and Beyond.</h2>
		</div>
	</div>

	<div class="text">
		{{ request.page.body|show_markdown|safe }}
	</div>
	
{% endblock %}
