{% extends '_base.html' %}
{% load thedatalab_extras thedatalab_menu %}

{% block body_class %}theme-{{ request.page.colour_scheme }}{% endblock %}

{% block main %}
	<div class="row">
		<div class="col page-header {% if request.page.level < 3 %}page-header-large{% endif %}">
			<div class="page-header-inner-left">
				{% if request.page.level == 1 %}
					{% page_breadcrumbs request.page %}
					<h1>{{ request.page.menu_title }}</h1>
				{% elif request.page.level == 2 %}
					{% page_breadcrumbs request.page skip_parent=True %}
				<h1>{{ request.page.parent.menu_title }}</h1>
					<h2>{{ request.page.menu_title }}</h2>
				{% else %}
					{% page_breadcrumbs request.page %}
					<h1>{{ request.page.menu_title }}</h1>
				{% endif %}
			</div>
			<div class="page-header-inner-right">
				<ul class="social-links">
					<li><a href="http://twitter.com/share?text=&amp;url=https://www.oii.ox.ac.uk/blog/digital-technology-has-the-power-to-transform-health-care-but-is-only-part-of-the-solution/&amp;via=twitter?>" title="Share on Twitter" rel="nofollow" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><path class="icon" d="M16,0A16,16,0,1,0,32,16,16,16,0,0,0,16,0Zm7.42,12.56c0,.17,0,.33,0,.5A10.89,10.89,0,0,1,6.68,22.23a9.08,9.08,0,0,0,.91.05,7.66,7.66,0,0,0,4.75-1.64A3.82,3.82,0,0,1,8.77,18a3.38,3.38,0,0,0,.72.07,3.71,3.71,0,0,0,1-.13,3.83,3.83,0,0,1-3.07-3.75v-.05a3.73,3.73,0,0,0,1.73.48,3.83,3.83,0,0,1-1.7-3.19A3.77,3.77,0,0,1,8,9.49a10.9,10.9,0,0,0,7.89,4,3.57,3.57,0,0,1-.1-.87A3.83,3.83,0,0,1,22.38,10a7.61,7.61,0,0,0,2.43-.93,3.89,3.89,0,0,1-1.68,2.12,7.65,7.65,0,0,0,2.19-.61A7.78,7.78,0,0,1,23.42,12.56Z"></path></g></svg></a></li>
					<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.oii.ox.ac.uk/blog/digital-technology-has-the-power-to-transform-health-care-but-is-only-part-of-the-solution/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path class="icon" d="M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16s16-7.2,16-16S24.8,0,16,0z M6.7,22.2C6.7,22.2,6.7,22.2,6.7,22.2 C6.7,22.2,6.8,22.3,6.7,22.2C6.7,22.3,6.7,22.2,6.7,22.2z M20.6,9.8l-1.8,0c-1.4,0-1.7,0.7-1.7,1.7v2.2h3.4L20,17.1h-2.9v8.7l-3.5,0 v-8.7h-2.9v-3.4h2.9v-2.5c0-2.9,1.8-4.5,4.4-4.5c1.2,0,2.3,0.1,2.6,0.1V9.8z"></path></svg></a></li>
					<li><a href="mailto:?subject=Digital%20technology%20has%20the%20power%20to%20transform%20health%20care,%20but%20is%20only%20part%20of%20the%20solution&amp;body=https://www.oii.ox.ac.uk/blog/digital-technology-has-the-power-to-transform-health-care-but-is-only-part-of-the-solution/" title="Send this article to a friend!"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><path class="icon" d="M16,0A16,16,0,1,0,32,16,16,16,0,0,0,16,0ZM26.14,19.33l-7-3.7,5.08-6.14ZM6.43,11.89,24,8.54a.08.08,0,0,1,.08,0l-6.79,8.2L17,17.1l0,0,0,0a.57.57,0,0,1-.35.18h0a.69.69,0,0,1-.45-.06L6.37,11.93Zm.09,1,7,3.82-5.11,6ZM26.25,20.4,8.7,23.76a.1.1,0,0,1-.11-.08h0l5.6-6.62,1.61.87a1.45,1.45,0,0,0,1.77-.34l1.13-1.36,7.63,4.05v0A.1.1,0,0,1,26.25,20.4Z"></path></g></svg></a></li>
				</ul>
				<div class="email">
					Get in touch:<br />
					<a href="mailto:ebmdatalab@phc.ox.ac.uk">ebmdatalab@phc.ox.ac.uk</a>
				</div>
			</div>
		</div>
	</div>

	{% if request.page.introduction %}
	<div class="row project-intro">
		{% if request.page.image %}
		<a href="{{ request.page.overlay_url }}" target="_blank" class="col-md-4">
			<div class="image" style="background-image: url('{{ request.page.image.url }}');">
				<div class="caption">{{ request.page.overlay_text }}</div>
			</div>
		</a>
		{% endif %}
		<div class="col-md-8 text">
			{{ request.page.introduction|show_markdown|safe }}
		</div>
	</div>
	{% endif %}
		
	{% block body %}
	
		<div class="row">
			<div class="text col-sm-9">
				{{ request.page.body|show_markdown|safe }}
			</div>
			<div class="col-sm-3">
				
			</div>
		</div>
		
		{% if papers %}
			<div class="row spotlight">
			  <h2 class="col-12">Spotlight</h2>
			  
			  {% for related_thing in papers %}
				  <div class="col-xl-3 col-lg-4 col-md-6">{% include "defaults/_related_item.html" %}</div>
			  {% endfor %}
		  </div>
		{% endif %}
		
		{% if blog_posts %}
			<div class="row">
				<div class="col-12 blog-preview-list">
					{% for post in blog_posts %}
					<div class="row blog-preview">
						<div class="col-sm-auto"><img src="{{ post.image.name|tdl_resize:'270x160c'}}" alt=""></div>
						<div class="col">
							<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
							<p class="author">{{ post.published_at|date:"j F Y" }} {% with authors=post.get_authors %}{% if authors %} &nbsp;|&nbsp; {{ authors }}{% endif %}{% endwith %}</p>
							{{ post.get_preview|show_markdown|safe }}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% if softwares %}
			<div class="row">
				<div class="col-12 blog-preview-list">
					{% for post in softwares %}
					<div class="row blog-preview">
						<div class="col-sm-auto"><img src="{{ post.image.name|tdl_resize:'270x160c'}}" alt=""></div>
						<div class="col">
							<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
							<p class="author">{{ post.published_at|date:"j F Y" }} {% with authors=post.get_authors %}{% if authors %} &nbsp;|&nbsp; {{ authors }}{% endif %}{% endwith %}</p>
							{{ post.body|show_markdown|safe }}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

	{% endblock %}
	
{% endblock %}
