{% extends 'page.html' %}
{% load imagefit %}
{% load thedatalab_extras %}

{% block main %}
  {{ block.super }}

  <div class="row spotlight">
      <h2 class="col-12">Spotlight</h2>
      
      {% for related_thing in spotlight_items %}
          <div class="col-xl-3 col-lg-4 col-md-6">{% include "defaults/_related_item.html" %}</div>
      {% endfor %}
  </div>

    {% for row in project_rows %}
        <div class="row spotlight">
            <h2 class="col-12">{{ row.title }}</h2>
            {% for related_thing in row.items %}
                <div class="col-xl-3 col-lg-4 col-md-6">{% include "defaults/_related_item.html" %}</div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
{% endblock %}
