{% extends 'page.html' %}
{% load thedatalab_extras thedatalab_menu imagefit %}

{% block body_class %}theme-green{% endblock %}

{% block body %}

	{% if project.image %}
	<div class="row project-intro">
		<a href="{{ project.overlay_url }}" class="col-sm-4">
			<div class="image" style="background-image: url('{{ project.image.url }}');">
				<div class="caption">{{ project.overlay_text }}</div>
			</div>
		</a>
		<div class="col-sm-8 text">
			{{ project.introduction|show_markdown|safe }}
		</div>
	</div>
	{% endif %}

	{% if blog_posts %}
	<div class="row spotlight dark caption-overlays">
		<h2 class="col-12">Latest Blog Posts</h2>
      
		{% for related_thing in blog_posts %}
			<div class="col-lg-3">{% include "defaults/_related_item.html" %}</div>
		{% endfor %}
	</div>
	{% endif %}
	
	{% if papers %}
	<div class="row spotlight light">
		<h2 class="col-12">Latest Publications</h2>
      
		{% for related_thing in papers %}
			<div class="col-lg-3">{% include "defaults/_related_item.html" %}</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="text">
		{{ request.page.body|show_markdown|safe }}
	</div>
{% endblock %}
