{% extends 'page.html' %}
{% load thedatalab_extras thedatalab_menu imagefit %}

{% block opengraph_image %}{% if project.image %}<meta property="og:image" content="https://{{ request.get_host }}{{ project.image.url }}" />{% else %}{{ block.super }}{% endif %}{% endblock %}



{% block body %}

	{% if project.introduction %}
	<div class="row project-intro">
		{% if project.image %}
		<a href="{{ project.overlay_url }}" target="_blank" class="col-sm-4">
			<div class="image" style="background-image: url('{{ project.image.url }}');">
				<div class="caption">{{ project.overlay_text }}</div>
			</div>
		</a>
		{% endif %}
		<div class="col-sm-8 text">
			{{ project.introduction|show_markdown|safe }}
		</div>
	</div>
	{% endif %}

	{% if blog_posts %}
	<div class="row spotlight dark caption-overlays">
		<h2 class="col-12">Latest News</h2>
      
		{% for related_thing in blog_posts %}
			<div class="col-lg-3">{% include "defaults/_related_item.html" %}</div>
		{% endfor %}
	</div>
	{% endif %}
	
	{% if papers %}
	<div class="row spotlight light">
		<h2 class="col-12">Recent Publications</h2>
      
		{% for related_thing in papers %}
			<div class="col-lg-3">{% include "defaults/_related_item.html" %}</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="text">
		{{ request.page.body|show_markdown|safe }}
	</div>
{% endblock %}
