<ul class="nav flex-column sidenav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Health Data</a>
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="#">OpenPrescribing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Variation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Changing behaviour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RCTs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Data Science</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Policy</a>
      </li>
    </ul>
  </li>
</ul>
<hr>
<ul class="nav flex-column sidenav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Better Science</a>
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="#">Trial reporting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TrialsTrackers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Retractions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Conflicts of Interest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RCTs</a>
      </li>
    </ul>
  </li>
</ul>
