{% for root_topic in root_topics %}
<ul class="nav nav-pills flex-column sidenav">
  <li class="nav-item">
    <a class="nav-link" href="#">{{ root_topic.topic.short_title }}</a>
    <ul>
      {% for sub_topic in root_topic.children.all %}
        <li class="nav-item">
          <a class="nav-link {% if sub_topic.topic.get_absolute_url == request.path %}active{% endif %}" href="{{ sub_topic.topic.get_absolute_url }}">{{ sub_topic.topic.short_title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>
<hr>
{% endfor %}
