{% extends 'page.html' %}
{% load imagefit %}
{% load thedatalab_extras %}

{% block main %}
  {{ block.super }}

    <div class="row">
    {% for mem in team_members %}
        <div class="col-sm-6 team-member">
            <div class="row">
                <div class="col-sm-auto"><img src="{{ mem.image.name|resize:'170x170c'}}" style="margin-left: 10px;" alt="{{mem.name}}"></div>
                <div class="col-sm-6">
                    <div class="name">{{ mem.name }}</div>
                    <div class="position">{{ mem.position }}</div>
                    {{ mem.biography|show_markdown|safe }}
                </div>
            </div>
            
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
