      <header class="navbar static-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">TheDataLab.org</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/blogs/">Blog <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/papers/">Papers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/software/">Software</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Health Informatics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Better Science</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Ethos</a>
                <a class="dropdown-item" href="/people/">People</a>
                <a class="dropdown-item" href="#">Our Open Source software</a>
                <a class="dropdown-item" href="#">Our datasets</a>
                <a class="dropdown-item" href="#">Our papers</a>
              </div>
            </li>
          </ul>
        </div>
         <p class="strapline">Papers, data, and software, reaching outside the ivory tower</p>
      </header>
