{% load imagefit %}
{% load thedatalab_extras %}
<div class="card related-thing theme-{{ related_thing.get_colour_scheme }}">
	<a href="{{ related_thing.get_absolute_url }}">
		<img class="card-img-top" src="{{ related_thing.image.name|resize:'278x163c'}}" alt="">
	</a>
	<a href="{{ related_thing.get_absolute_url }}">
		<div class="card-body">
			<h5 class="card-title">{{related_thing.title}}</h5>
			  <span class="publication-date">
				  {{ related_thing.published_at|date:"d F, Y" }}
			  </span>
		</div>
	</a>
</div>
