{% load thedatalab_extras %}

<section class="related">
    {% for topic, related_things in topics.items %}
        <div class="row"><h2 class="col">Topic "{{ topic }}"</h2></div>
		<div class="thing-carousel">
			{% for related_thing in related_things %}
			   {% include thing.get_class.related_item_include_name  %}
			{% endfor %}
		</div>
        
        {% if topic.topic_set.count %}
            <p class="view-all"><a href="/topics/{{topic.slug}}/">View everything in topic {{ topic.name }} &gt;&gt;</a></p>
        {% endif %}
        </div>
    {% empty %}
        {% if other_things_of_same_type %}
            <div class="row"><h2 class="col">Recent {{ thing_plural }}</h2></div>
            <div class="thing-carousel">
                {% for related_thing in other_things_of_same_type %}
                   {% include thing.get_class.related_item_include_name  %}
                {% endfor %}
            </div>
            <a href="{% url thing.get_class.index_url_name %}">View all {{ thing.get_class.model_name }}s</a>
        {% endif %}
    {% endfor %}
    
    
    {% comment %}
    
    
  {% if thing.is_topic or thing.is_author %}
  <!-- Group related items by Resource type-->
  {% if thing.is_author %}
    <h3>{{ thing.title }}'s contributions:</h3>
  {% endif %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {% for heading in klasses.keys %}
      <li class="nav-item">
        <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ heading }}-tab" data-toggle="tab" data-target="#{{ heading }}" role="tab" aria-controls="{{ heading }}" aria-selected="true">{{ heading }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="related-tab-content">
    {% for heading, related_things in klasses.items %}
      <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="{{ heading }}" role="tabpanel" aria-labelledby="{{ heading }}-tab">
      {% for related_thing in related_things %}
        {% if related_thing != thing %}
          <div class="related-thing-container">
            <img src="{{ related_thing.image.name|tdl_resize:'200x140c'}}" width="200" height="140" style="margin-right: 10px; width: 200px">
            <div style="flex-direction: column">
              {% include thing.get_class.related_item_include_name  %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}
    </div>

  {% else %}
  <!-- Group related items by Topic -->
<!--
  {% if related_title %}
    <div class="row"><h2 class="col">{{ related_title }}</h2></div>
  {% endif %}
-->
      


      {% if other_things_of_same_type %}
		<div class="row"><h2 class="col">Recent {{ thing_plural }}</h2></div>
		<div class="thing-carousel">
			{% for related_thing in other_things_of_same_type %}
			   {% include thing.get_class.related_item_include_name  %}
			{% endfor %}
		</div>
        <a href="{% url thing.get_class.index_url_name %}">View all {{ thing.get_class.model_name }}s</a>
      {% endif %}
      
      
      {% for topic, related_things in topics.items %}
        <div class="row"><h2 class="col">Topic "{{ topic }}"</h2></div>
		<div class="thing-carousel">
			{% for related_thing in related_things %}
			   {% include thing.get_class.related_item_include_name  %}
			{% endfor %}
		</div>
        
        {% if topic.topic_set.count %}
            <a href="/topic/{{topic.slug}}//">View everything in topic {{ topic.name }}</a>
        {% endif %}
        </div>
      {% endfor %}

{% endif %}
{% endcomment %}
</section>
